{% extends 'base.html.twig' %}

{% block title %} Créer une nouvelle News {% endblock %}

{% block body %}
    <h1> Créer une nouvelle News </h1>

    {{ include('news/_form.html.twig') }}

    <a href="{{ path('app_news_index') }}"> Retour à la liste </a>
{% endblock %}
